In [1]:
import pandas as pd
import numpy as np
import codecs, json
from collections import Counter

In [2]:
# Empty dataframe
columns = ['brand_id',
           'brand_name',
           'number_total_posts',
           'imbalance_ratio_on_total_posts',
           'number_instagram_on_total_posts',
           'number_twitter_on_total_posts',
           'number_facebook_on_total_posts',
           'number_youtube_on_total_posts',
           'number_pinterest_on_total_posts',
           'number_others_on_total_posts',
           'number_en_posts',
           'imbalance_ratio_on_en_posts',
           'number_instagram_on_en_posts',
           'number_twitter_on_en_posts',
           'number_facebook_on_en_posts',
           'number_youtube_on_en_posts',
           'number_pinterest_on_en_posts',
           'number_others_on_en_posts',
           'number_it_posts',
           'imbalance_ratio_on_it_posts',
           'number_instagram_on_it_posts',
           'number_twitter_on_it_posts',
           'number_facebook_on_it_posts',
           'number_youtube_on_it_posts',
           'number_pinterest_on_it_posts',
           'number_others_on_it_posts',
           'number_fr_posts',
           'imbalance_ratio_on_fr_posts',
           'number_instagram_on_fr_posts',
           'number_twitter_on_fr_posts',
           'number_facebook_on_fr_posts',
           'number_youtube_on_fr_posts',
           'number_pinterest_on_fr_posts',
           'number_others_on_fr_posts',
           'number_es_posts',
           'imbalance_ratio_on_es_posts',
           'number_instagram_on_es_posts',
           'number_twitter_on_es_posts',
           'number_facebook_on_es_posts',
           'number_youtube_on_es_posts',
           'number_pinterest_on_es_posts',
           'number_others_on_es_posts',       
           'number_labels_from_mturk',
           'number_labels_from_tribe',
           'model_decision_always_empty']

df_res = pd.DataFrame(columns=columns)
df_res

Empty DataFrame
Columns: [brand_id, brand_name, number_total_posts, imbalance_ratio_on_total_posts, number_instagram_on_total_posts, number_twitter_on_total_posts, number_facebook_on_total_posts, number_youtube_on_total_posts, number_pinterest_on_total_posts, number_others_on_total_posts, number_en_posts, imbalance_ratio_on_en_posts, number_instagram_on_en_posts, number_twitter_on_en_posts, number_facebook_on_en_posts, number_youtube_on_en_posts, number_pinterest_on_en_posts, number_others_on_en_posts, number_it_posts, imbalance_ratio_on_it_posts, number_instagram_on_it_posts, number_twitter_on_it_posts, number_facebook_on_it_posts, number_youtube_on_it_posts, number_pinterest_on_it_posts, number_others_on_it_posts, number_fr_posts, imbalance_ratio_on_fr_posts, number_instagram_on_fr_posts, number_twitter_on_fr_posts, number_facebook_on_fr_posts, number_youtube_on_fr_posts, number_pinterest_on_fr_posts, number_others_on_fr_posts, number_es_posts, imbalance_ratio_on_es_posts, number_instagram_on_es_posts, number_twitter_on_es_posts, number_facebook_on_es_posts, number_youtube_on_es_posts, number_pinterest_on_es_posts, number_others_on_es_posts, number_labels_from_mturk, number_labels_from_tribe, model_decision_always_empty]
Index: []

[0 rows x 45 columns]

In [3]:
def label_unpacking(df):
    
    new_labels_list = []
    
    list_of_label_lists = df.iloc[:,0].values # df.labels.values doesn't work ?!
    
    for label_list in list_of_label_lists:
        labels_counter = Counter(label_list)
        if labels_counter[0]>=labels_counter[1]: # Prefer false negatives to false positives
            new_labels_list.append(False)
        else:
            new_labels_list.append(True)
    
    return np.array(new_labels_list)

In [4]:
def imbalance_by_df(df):    

    labels_list = label_unpacking(df)
    
    num_True = Counter(labels_list)[True]
    num_False = Counter(labels_list)[False]
    
    if (num_True==0 and num_False==0):
        return 0
    else:
        return 1-(min(num_True,num_False)/max(num_True,num_False))

In [5]:
def remove_links(corpus, link_start):
    
    new_corpus = []    
    for s in corpus:            
        #First parameter is the replacement, second parameter is the input string
        new_corpus.append(s.replace(link_start,''))    
        
    return np.array(new_corpus)

In [6]:
def remove_regexp(corpus, regexp_str):
    
    import re   
    
    regex = re.compile(regexp_str)
    
    new_corpus = []    
    for s in corpus:            
        #First parameter is the replacement, second parameter is the input string
        new_corpus.append(regex.sub('', s))    
        
    return np.array(new_corpus)

In [7]:
def count_social_by_df(df):
    
    corpus = df.link.values.copy()        
    corpus = remove_links(corpus, 'http://www.')
    corpus = remove_links(corpus, 'https://www.')
    corpus = remove_links(corpus, 'http://')
    corpus = remove_links(corpus, 'https://')
    corpus = remove_regexp(corpus, '.com\S+')        
    counter = Counter(corpus)
    ig=counter['instagram']
    tw=counter['twitter']
    fb=counter['facebook']
    yt=counter['youtube']
    pin=counter['pinterest']
    others=df.shape[0]-(ig+tw+fb+yt+pin)
    
    return ig, tw, fb, yt, pin, others

In [8]:
from pathlib import Path

i = 0

# Loop over all the file ids provided
for brand_id in range(8009, 19151):
    
    # Check existence of file
    try_file = Path("../../Data/CSE_20180215/" + str(brand_id) + "_data.json")
    
    if try_file.is_file():
        # file exists
        
        # Open json files
        with codecs.open('../../Data/CSE_20180215/' + str(brand_id) + '_data.json', 'r', 'utf-8') as f_data:
            tweets_dict_list = json.load(f_data, encoding='utf-8')
        with codecs.open('../../Data/CSE_20180215/' + str(brand_id) + '_metadata.json') as f_metadata:
            metadata_dict = json.load(f_metadata, encoding='utf-8')
        
        # Import as dataframe
        df = pd.DataFrame.from_dict(tweets_dict_list)
        
        df_to_append = pd.DataFrame(index=[i], columns=columns)
        df_to_append = df_to_append.fillna(0)
                
        df_to_append['brand_id'] = metadata_dict['brand_id']
        df_to_append['brand_name'] = metadata_dict['brand_name']

        df_to_append['number_total_posts'] = df.shape[0]
        df_to_append['imbalance_ratio_on_total_posts'] = imbalance_by_df(df)
        ig, tw, fb, yt, pin, others = count_social_by_df(df)
        df_to_append['number_instagram_on_total_posts'] = ig
        df_to_append['number_twitter_on_total_posts'] = tw
        df_to_append['number_facebook_on_total_posts'] = fb
        df_to_append['number_youtube_on_total_posts'] = yt
        df_to_append['number_pinterest_on_total_posts'] = pin
        df_to_append['number_others_on_total_posts'] = others

        df_lang = df[df.lang == 'en']
        df_to_append['number_en_posts'] = df_lang.shape[0]
        df_to_append['imbalance_ratio_on_en_posts'] = imbalance_by_df(df_lang)
        ig, tw, fb, yt, pin, others = count_social_by_df(df_lang)
        df_to_append['number_instagram_on_en_posts'] = ig
        df_to_append['number_twitter_on_en_posts'] = tw
        df_to_append['number_facebook_on_en_posts'] = fb
        df_to_append['number_youtube_on_en_posts'] = yt
        df_to_append['number_pinterest_on_en_posts'] = pin
        df_to_append['number_others_on_en_posts'] = others

        df_lang = df[df.lang == 'it']
        df_to_append['number_it_posts'] = df_lang.shape[0]
        df_to_append['imbalance_ratio_on_it_posts'] = imbalance_by_df(df_lang)
        ig, tw, fb, yt, pin, others = count_social_by_df(df_lang)
        df_to_append['number_instagram_on_it_posts'] = ig
        df_to_append['number_twitter_on_it_posts'] = tw
        df_to_append['number_facebook_on_it_posts'] = fb
        df_to_append['number_youtube_on_it_posts'] = yt
        df_to_append['number_pinterest_on_it_posts'] = pin
        df_to_append['number_others_on_it_posts'] = others

        df_lang = df[df.lang == 'fr']
        df_to_append['number_fr_posts'] = df_lang.shape[0]
        df_to_append['imbalance_ratio_on_fr_posts'] = imbalance_by_df(df_lang)
        ig, tw, fb, yt, pin, others = count_social_by_df(df_lang)
        df_to_append['number_instagram_on_fr_posts'] = ig
        df_to_append['number_twitter_on_fr_posts'] = tw
        df_to_append['number_facebook_on_fr_posts'] = fb
        df_to_append['number_youtube_on_fr_posts'] = yt
        df_to_append['number_pinterest_on_fr_posts'] = pin
        df_to_append['number_others_on_fr_posts'] = others

        df_lang = df[df.lang == 'es']
        df_to_append['number_es_posts'] = df_lang.shape[0]
        df_to_append['imbalance_ratio_on_es_posts'] = imbalance_by_df(df_lang)
        ig, tw, fb, yt, pin, others = count_social_by_df(df_lang)
        df_to_append['number_instagram_on_es_posts'] = ig
        df_to_append['number_twitter_on_es_posts'] = tw
        df_to_append['number_facebook_on_es_posts'] = fb
        df_to_append['number_youtube_on_es_posts'] = yt
        df_to_append['number_pinterest_on_es_posts'] = pin
        df_to_append['number_others_on_es_posts'] = others

        df_to_append['number_labels_from_mturk'] = df[df.mturker == 1].shape[0]
        df_to_append['number_labels_from_tribe'] = df[df.mturker != 1].shape[0]

        # Counter has one key if there is only 'None', otherwise has more
        n = len(Counter(df.model_decision.values))
        if n>1:
            result = False
        else:
            result = True
        df_to_append['model_decision_always_empty'] = result
        
        df_res = df_res.append(df_to_append)[columns]
        
        i=i+1

In [9]:
df_res

,brand_id,brand_name,number_total_posts,imbalance_ratio_on_total_posts,number_instagram_on_total_posts,number_twitter_on_total_posts,number_facebook_on_total_posts,number_youtube_on_total_posts,number_pinterest_on_total_posts,number_others_on_total_posts,...,imbalance_ratio_on_es_posts,number_instagram_on_es_posts,number_twitter_on_es_posts,number_facebook_on_es_posts,number_youtube_on_es_posts,number_pinterest_on_es_posts,number_others_on_es_posts,number_labels_from_mturk,number_labels_from_tribe,model_decision_always_empty
0,8009,Caudalie,1188,0.992366,587,171,62,169,11,188,...,1.000000,63,4,0,2,0,2,468,720,True
1,8033,Mary Kay,3917,0.947609,1624,491,728,379,148,547,...,0.994633,187,81,147,87,2,58,3342,575,True
2,8499,Too Faced,1299,0.997685,734,29,58,427,13,38,...,0.983871,43,0,7,13,0,0,368,931,True
3,9305,Avon,4107,0.553873,1401,761,443,357,147,998,...,0.935223,147,25,38,13,0,40,1690,2417,True
4,9337,KÃ©rastase,821,0.997558,387,44,88,91,9,202,...,1.000000,35,1,13,4,0,12,133,688,True
5,9932,Givenchy,355,1.000000,74,19,23,59,11,169,...,1.000000,0,0,2,0,0,2,259,96,True
6,9996,LancÃ´me,1418,0.997171,728,46,66,422,12,144,...,1.000000,27,0,0,10,0,1,303,1115,True
7,10118,NARS,1391,0.994942,686,22,43,451,18,171,...,1.000000,49,0,1,10,0,7,300,1091,True
8,10195,Neutrogena,716,0.997199,283,50,55,113,5,210,...,1.000000,39,0,14,8,0,6,231,485,True
9,10918,Anastasia Beverly Hills,1245,0.943124,778,2,39,397,3,26,...,1.000000,23,0,0,5,0,0,58,1187,True
10,11331,Carolina Herrera,256,1.000000,133,7,37,0,11,68,...,1.000000,3,0,3,0,0,3,74,182,True
11,11421,Clarins,1142,0.999124,524,124,87,195,3,209,...,1.000000,52,1,9,11,0,9,356,786,True
12,11605,L'Occitane en Provence,1335,0.987102,607,165,101,88,28,346,...,1.000000,36,4,13,3,0,19,560,775,True
13,11789,RoC,845,0.452381,171,89,66,76,32,411,...,1.000000,0,0,0,0,0,4,86,759,True
14,11807,Smashbox,1566,0.996154,782,19,92,494,7,172,...,1.000000,17,0,0,21,0,3,358,1208,True
15,11834,Tarte,2226,0.916261,1257,43,62,684,13,167,...,1.000000,2,0,0,2,0,0,552,1674,True
16,11977,MAC,2851,0.880644,1478,56,122,972,11,212,...,0.833333,35,3,3,20,0,2,400,2451,True
17,12003,La Roche-Posay,6883,0.998399,3359,978,657,581,131,1177,...,0.998905,518,145,88,40,0,123,5968,915,True
18,12039,EstÃ©e Lauder,1718,0.966306,751,33,69,564,7,294,...,1.000000,21,1,1,8,0,2,540,1178,True
19,12163,Saint Laurent (YSL),1690,0.980700,933,75,97,328,22,235,...,1.000000,38,0,10,5,0,17,857,833,True
20,12173,Ralph Lauren,449,1.000000,220,63,46,7,5,108,...,1.000000,1,1,0,1,0,0,274,175,True
21,12847,Kat Von D Beauty,2179,0.984149,1314,47,63,667,4,84,...,0.936170,37,0,1,7,0,5,650,1529,True
22,12857,Vichy,5557,0.765111,3088,603,440,519,105,802,...,0.609236,492,92,46,51,5,97,2909,2648,True
23,12858,TresemmÃ©,667,0.970679,208,77,58,64,24,236,...,1.000000,17,11,6,3,3,7,387,280,True
24,12960,IT Cosmetics,661,0.995441,242,15,19,334,7,44,...,1.000000,26,0,0,12,0,0,160,501,True
25,12988,Charlotte Tilbury,1383,0.996372,720,97,41,421,13,91,...,1.000000,27,0,1,11,0,1,427,956,True
26,13202,Bourjois,691,0.991241,260,8,18,260,5,140,...,1.000000,42,0,0,6,0,2,285,406,True
27,13245,Chanel,2234,0.840685,1260,52,297,301,28,296,...,0.961832,95,3,23,5,0,10,953,1281,True
28,13418,Armani,1549,0.933930,752,61,104,270,9,353,...,0.910448,44,1,15,2,0,11,685,864,True
29,13431,Guerlain,3676,0.995628,2451,211,214,406,40,354,...,1.000000,269,17,22,37,0,28,3009,667,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76,18763,Jequiti,534,0.982857,351,16,55,40,3,69,...,1.000000,2,0,0,0,0,0,341,193,True
77,18764,O Boticario,477,0.985106,389,0,61,13,4,10,...,0.166667,3,0,3,1,0,4,213,264,True
78,18767,Contem1g,207,1.000000,120,3,23,28,6,27,...,1.000000,0,0,0,1,0,0,0,207,True
79,18768,Vult,357,1.000000,306,2,28,16,0,5,...,1.000000,3,0,0,1,0,0,0,357,True
80,18801,Dermage,55,1.000000,38,2,7,1,0,7,...,0.000000,0,0,0,0,0,0,0,55,True
81,18811,Granado Pharmacias,298,0.726496,180,8,26,22,1,61,...,0.800000,4,1,0,2,0,5,148,150,True
82,18813,Tracta Farmaervas,95,1.000000,47,0,10,35,0,3,...,1.000000,3,0,1,3,0,0,0,95,True
83,18815,Salon Line,122,1.000000,94,0,21,7,0,0,...,0.000000,0,0,0,0,0,0,0,122,True
84,18825,Get The Look FRANCE,60,0.378378,52,1,5,0,1,1,...,0.000000,0,0,0,0,0,0,0,60,True
85,18826,Colorama,828,0.047170,437,108,87,21,62,113,...,0.763158,19,22,2,1,0,3,297,531,True
86,18828,Instituto L'Oreal,18,1.000000,17,0,1,0,0,0,...,0.000000,0,0,0,0,0,0,0,18,True
87,18879,Niely,137,0.754545,86,5,32,4,0,10,...,1.000000,0,0,0,1,0,0,32,105,True
88,18909,Luisance,322,0.996885,218,3,24,56,0,21,...,1.000000,5,0,4,1,0,0,166,156,True
89,18930,Lola Cosmetics,67,1.000000,43,0,16,5,0,3,...,0.000000,0,0,0,0,0,0,0,67,True
90,18957,Ruby Rose Cosmeticos,1183,0.226387,603,154,148,108,24,146,...,0.157895,15,2,5,4,0,9,484,699,True
91,18983,Dailus,143,1.000000,98,0,17,28,0,0,...,1.000000,1,0,0,3,0,0,0,143,True
92,19020,RisquÃ©,304,0.282486,174,4,25,11,9,81,...,1.000000,3,0,3,0,0,0,119,185,True
93,19026,Bepantol Derma,39,1.000000,25,1,7,1,1,4,...,0.000000,0,0,0,0,0,0,0,39,True
94,19027,Bio Extratus,50,1.000000,43,0,1,5,0,1,...,0.000000,0,0,0,0,0,0,0,50,True
95,19029,Cadiveu,60,1.000000,33,2,15,1,5,4,...,0.000000,0,0,0,0,0,0,0,60,True
96,19030,Cenoura & Bronze,25,1.000000,14,2,7,0,1,1,...,0.000000,0,0,0,0,0,0,0,25,True
97,19032,Darrow Dermocosmeticos,268,0.582011,71,34,36,7,6,114,...,1.000000,0,0,1,0,1,5,70,198,True
98,19033,Mantecorp,65,1.000000,35,2,14,1,1,12,...,0.000000,0,0,0,0,0,0,15,50,True
99,19037,Inoar,70,1.000000,23,9,18,11,0,9,...,1.000000,1,0,0,1,0,0,0,70,True
100,19038,ISDIN,90,1.000000,55,4,16,6,2,7,...,1.000000,21,1,8,4,2,4,0,90,True
101,19041,Impala,44,1.000000,26,1,8,3,1,5,...,0.000000,0,0,0,0,0,0,0,44,True
102,19065,"quem disse, berenice?",162,0.993789,93,0,22,36,0,11,...,1.000000,2,0,1,0,0,0,0,162,True
103,19101,Segredos de SalÃ£o,10,1.000000,8,0,1,0,0,1,...,0.000000,0,0,0,0,0,0,0,10,True
104,19132,Coppertone,319,0.822878,100,64,31,16,8,100,...,0.000000,0,0,0,0,0,0,59,260,True
105,19150,Embelleze,198,1.000000,81,1,49,13,0,54,...,0.000000,0,0,0,0,0,0,80,118,True

In [10]:
# Output df to Excel file
writer = pd.ExcelWriter('../../Data/CSE_20180215_data_info.xlsx')
df_res.to_excel(writer,'Sheet1')
writer.save()