In [1]:
import pandas as pd

from collections import Counter

In [2]:
# Change here the brand_id according to json file naming
brand_id = '8009'

In [3]:
# Import json files (data and metadata)
import codecs, json

with codecs.open('Data/CSE_20180215/' + brand_id + '_data.json', 'r', 'utf-8') as f_data:
    tweets_dict_list = json.load(f_data, encoding='utf-8')
    
with codecs.open('Data/CSE_20180215/' + brand_id + '_metadata.json') as f_metadata:
    metadata_dict = json.load(f_metadata, encoding='utf-8')

In [4]:
# Brand information
metadata_dict

{'brand_id': 8009,
 'brand_name': 'Caudalie',
 'search_terms': ['#caudaliecanada',
  '#caudalielovesdus',
  '#caudaliemy',
  '#caudalieparis',
  '#caudalierussia',
  '#caudaliexjasonwu',
  '#jasonwuforcaudalie',
  '#jasonwuxcaudalie',
  '#lessourcesdecaudalie',
  '#кодали',
  '@caudalieparis',
  '@caudalieuk',
  '@lessourcesdecaudalie',
  'caudalie',
  'caudalieespana',
  'caudalieespaña',
  'caudalieusa',
  'caudelie',
  '꼬달리']}

In [5]:
tweet_index = 0
print ('Example of one tweet:')
tweets_dict_list[tweet_index]

Example of one tweet:

{'labels': [1, 1, 1, 1],
 'lang': 'en',
 'link': 'http://www.thebeautyisle.com/2015/01/sephora-ulta-haul.html',
 'model_decision': None,
 'mturker': 1,
 'text': 'Favorites Summer Crushes - $30This is another great deal because it was $45 regular price.\xa0 This set includes sample sizes of:-Caudalie Divine Oil - Vita Liberata pHenomenal 2-3 Week Tan Mousse in Medium - Mini tanning mitt - Bumble and bumble'}

In [6]:
df_full = pd.DataFrame.from_dict(tweets_dict_list)
# Repositioning columns order
df_full = df_full[['text','lang','model_decision','labels','mturker', 'link']]
df_full.head(5)

,text,lang,model_decision,labels,mturker,link
0,Favorites Summer Crushes - $30This is another ...,en,None,"[1, 1, 1, 1]",1,http://www.thebeautyisle.com/2015/01/sephora-u...
1,.@CaudalieUSA’s new C15 line takes charge of o...,en,None,"[1, 1, 1, 1]",1,https://www.twitter.com/Sephora/statuses/46565...
2,"I love a simple, cheap and easy to find produc...",en,None,"[1, 1]",1,http://www.la-fille-en-rose.com/2012/10/dry-sk...
3,Yay it's @CaudalieUSA turn #sephora #weareseph...,en,None,"[1, 1, 1, 1]",1,https://www.twitter.com/CaitlinAPearl/statuses...
4,@LadyAndTheLook I started using a face oil fro...,en,None,"[1, 1, 1, 1]",1,https://www.twitter.com/stylecontext/statuses/...

In [7]:
print("Number of samples: {}".format(df_full.shape[0]))

Number of samples: 1188

In [8]:
# Languages count
Counter(df_full.lang.values)

Counter({'en': 706,
         'de': 102,
         'fr': 96,
         'es': 71,
         'no': 1,
         None: 5,
         'ru': 17,
         'pt': 62,
         'it': 57,
         'ar': 2,
         'ja': 2,
         'ko': 63,
         'zh': 1,
         'fa': 2,
         'af': 1})

In [9]:
# Model decision count
Counter(df_full.model_decision.values)

Counter({None: 1188})

In [10]:
# MTurk count
print('0 = Tribe employee | 1 = MTurk labeler')
Counter(df_full.mturker.values)

0 = Tribe employee | 1 = MTurk labeler

Counter({0: 720, 1: 468})