# Importing libraries

In [1]:
import tweepy
import csv
import pandas as pd
import numpy as np

# Authentication

In [2]:
####input your credentials here
consumer_key = 'izYk1yjpyPnupV8oAh81OIdKF'
consumer_secret = 'KzhDo8wVJzTjo6mlBuG8SpXVYo0a2qxtNt5JX4U08w6bG4V0PM'
access_token = '120788046-SC6innzudIE75Aqtu0ULuEyJYo9wVj9YorRQnnXt'
access_token_secret = 'tx88xjTBmfwPQ4LhccU6x9XXO2hriO1P81oOEnLQqznFi'

auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)
api = tweepy.API(auth,wait_on_rate_limit=True)

# Scraping

### API scraping -> limited to 7-10 days back

In [3]:
# Open/Create a file to append data
#csvFile = open('test_twitter.csv', 'a')

#Use csv Writer
#csvWriter = csv.writer(csvFile)

for tweet in tweepy.Cursor(api.search, q="#maybelline", count=1, lang="en", since="2018-01-01").items():
    print (tweet.created_at, tweet.text)
    csvWriter.writerow([tweet.created_at, tweet.text.encode('utf-8')])

tweets_list = []
print ('=====')
for tweet in tweepy.Cursor(api.search, q="#maybelline", lang="en", tweet_mode="extended").items():
    print (tweet.created_at, tweet.full_text)
    print ('=====')
    tweets_list.append(tweet.full_text)

len(tweets_list)

## Jefferson-Henrique/GetOldTweets-python

Google Drive\GetOldTweets-python-master>python Exporter.py --querysearch '#maybelline' --since 2017-12-01 --until 2018-02-14 --maxtweets 1000

df = pd.read_csv('output_got.csv', sep=';')
df.head(1)

tweets = df.text.values

len(tweets)

tweets[0]

## taspinar/twitterscraper

tribedynamics\Code\Alessandro>twitterscraper #maybelline --limit 1000 --lang it --begindate 2015-01-01 --enddate 2018-02-14 --output=maybelline_1000_it_tweets.json

In [18]:
import codecs, json

with codecs.open('kiko_10000_it_tweets.json', 'r', 'utf-8') as f:
    tweets_dict_list = json.load(f, encoding='utf-8')

In [19]:
df = pd.DataFrame.from_dict(tweets_dict_list)

In [23]:
df.head(5)

,fullname,id,likes,replies,retweets,text,timestamp,url,user
0,MichyMakeup79,756917125302906880,0,0,0,Nuovi smalti Kiko #smaltichepassione #smalti #...,2016-07-23T18:21:20,/Michymakeup79/status/756917125302906880,Michymakeup79
1,Gabriella Lombardi,756790940208074752,1,0,0,Recensione acqua micellare Pure Clean Water – ...,2016-07-23T09:59:55,/Chisechan89/status/756790940208074752,Chisechan89
2,Roma Giornale.it,756548811351269376,1,0,1,#CarmenHernandez La lettera di #PapaFrancesco ...,2016-07-22T17:57:47,/romagiornale/status/756548811351269376,romagiornale
3,MichyMakeup79,756447695578001408,1,0,0,Troppo belli i nuovi smalti kiko #kikocosmeti...,2016-07-22T11:15:59,/Michymakeup79/status/756447695578001408,Michymakeup79
4,mcuart,756160013219958785,4,0,2,#Kiko commosso: Senza #Carmen il #Cammino non ...,2016-07-21T16:12:50,/mcuart/status/756160013219958785,mcuart

In [21]:
df_text = df[['text']]
df_text.head(3)

                                                text
0  Nuovi smalti Kiko #smaltichepassione #smalti #...
1  Recensione acqua micellare Pure Clean Water – ...
2  #CarmenHernandez La lettera di #PapaFrancesco ...

In [8]:
writer = pd.ExcelWriter('excel_en_full.xlsx')
df_text.to_excel(writer,'Sheet1')
writer.save()

In [9]:
tweets_arr = df.text.values
len(tweets_arr)

1105

In [10]:
import re

In [11]:
cleaned_tweets_list = []

for tweet_text in tweets_arr:
    
    cleaned_tweet = re.sub(r"https\S+", "", tweet_text)
    cleaned_tweet = re.sub(r"http\S+", "", cleaned_tweet)
    cleaned_tweet = re.sub(r"pic.twitter.com\S+", "", cleaned_tweet)
    cleaned_tweet = cleaned_tweet.replace('#maybelline', '')
    cleaned_tweet = cleaned_tweet.replace('#Maybelline', '')
    cleaned_tweet = cleaned_tweet.replace('#MAYBELLINE', '')
    cleaned_tweet = cleaned_tweet.replace('maybelline', '')
    cleaned_tweet = cleaned_tweet.replace('Maybelline', '')
    cleaned_tweet = cleaned_tweet.replace('MAYBELLINE', '')

    
    cleaned_tweets_list.append(cleaned_tweet)
    
cleaned_tweets_list[:5]

['Have you seen Kiko?\n\n#LOSTDOG #KIKO #Orlando (Chackasaw Trail & Millinockette Rd) #FL 32825 #Orange Co. , #Lost... \xa0',
 'Socializando  #jose #kiko \xa0…',
 'Lipstick Parade #Kiko Velvet Mat 612 Strawberry Pink \xa0 #lippenstift #lipstickparade #makeup',
 'Lip scrub and plumping lip cream for the night #kiko #lipexfoliator #lipvolume',
 'Does cheap always mean cheerful? See our take on this #kiko #eyeshadow \xa0…']

In [12]:
len(cleaned_tweets_list)

1105

In [13]:
df_no_url = pd.DataFrame(np.array(cleaned_tweets_list), columns={'text'})
df_no_url.head(5)

                                                text
0  Have you seen Kiko?\n\n#LOSTDOG #KIKO #Orlando...
1                       Socializando  #jose #kiko  …
2  Lipstick Parade #Kiko Velvet Mat 612 Strawberr...
3  Lip scrub and plumping lip cream for the night...
4  Does cheap always mean cheerful? See our take ...

In [14]:
df_no_url.shape

(1105, 1)

In [15]:
df_no_dup = df_no_url.drop_duplicates(inplace=False)
df_no_dup.head(5)

                                                text
0  Have you seen Kiko?\n\n#LOSTDOG #KIKO #Orlando...
1                       Socializando  #jose #kiko  …
2  Lipstick Parade #Kiko Velvet Mat 612 Strawberr...
3  Lip scrub and plumping lip cream for the night...
4  Does cheap always mean cheerful? See our take ...

In [16]:
df_no_dup.shape

(1029, 1)

In [17]:
writer = pd.ExcelWriter('excel_en_cleaned.xlsx')
df_no_dup.to_excel(writer,'Sheet1')
writer.save()