In [1]:
import pandas as pd
import numpy as np

# Import csv files from each of us

In [2]:
df_alessandro = pd.read_csv('../../Data/csv_for_mturk_eval/alessandro.csv', encoding='utf-8')
df_alessandro.head(1)

,brand_name,text,lang,link,mturker,model_decision,labels,aggregated_label,capstone_label
0,Lush,"da averle morbide, idratate e prive di pellici...",it,https://blog.cliomakeup.com/2017/03/arco-di-cu...,1,NaN,"[1, 1]",True,NaN

In [3]:
df_ginevra = pd.read_csv('../../Data/csv_for_mturk_eval/ginevra.csv', encoding='utf-8')
df_ginevra.head(1)

,brand_name,text,lang,link,mturker,model_decision,labels,aggregated_label,capstone_label
0,Vichy,"un momento critico per la nostra pelle, ma con...",it,https://www.instagram.com/p/BSybl-nAlvG/,1,NaN,"[1, 1, 1, 1]",True,NaN

# Import labels from each of us

In [4]:
df_alessandro['capstone_label'] = pd.read_csv('../../Data/csv_for_mturk_eval/labeling_alessandro.csv', encoding='utf-8').capstone_label.values
df_alessandro.head(1)

,brand_name,text,lang,link,mturker,model_decision,labels,aggregated_label,capstone_label
0,Lush,"da averle morbide, idratate e prive di pellici...",it,https://blog.cliomakeup.com/2017/03/arco-di-cu...,1,NaN,"[1, 1]",True,True

In [5]:
df_ginevra['capstone_label'] = pd.read_csv('../../Data/csv_for_mturk_eval/labeling_alessandro.csv', encoding='utf-8').capstone_label.values
df_ginevra.head(1)

,brand_name,text,lang,link,mturker,model_decision,labels,aggregated_label,capstone_label
0,Vichy,"un momento critico per la nostra pelle, ma con...",it,https://www.instagram.com/p/BSybl-nAlvG/,1,NaN,"[1, 1, 1, 1]",True,True

# Concatenate the dataframes to produce final result

In [6]:
df = pd.concat([df_alessandro, df_ginevra])
df.head(5)

,brand_name,text,lang,link,mturker,model_decision,labels,aggregated_label,capstone_label
0,Lush,"da averle morbide, idratate e prive di pellici...",it,https://blog.cliomakeup.com/2017/03/arco-di-cu...,1,NaN,"[1, 1]",True,True
1,Dove,Dove son finita Come promesso sono tornata!\r\...,it,https://www.youtube.com/watch?v=XItKOoQWY2Q,1,NaN,"[1, 1, 1, 0]",True,False
2,Vichy,"un momento critico per la nostra pelle, ma con...",it,https://www.instagram.com/p/BSybl-nAlvG/,1,NaN,"[1, 1, 1, 1]",True,True
3,Lush,MY BEAUTY PROTOCOLE \r\n#pink #girlsnightout ...,it,https://www.instagram.com/p/BSWqwr-BQAt/,1,NaN,"[1, 1, 1, 1, 1]",True,True
4,La Roche-Posay,"@avon.italia , Gimme Brow di @benefitcosmetics...",it,https://www.facebook.com/1555633388011833/post...,1,NaN,"[1, 1, 1, 1]",True,True

In [7]:
df.shape

(120, 9)

# Compute accuracy of the labeling between us and MTurk

In [8]:
y_capstone = df.capstone_label.values.astype(np.bool)
y_mturk = df.aggregated_label.values.astype(np.bool)

In [9]:
from sklearn.metrics import accuracy_score
print('Accuracy = {:.3f}'.format(accuracy_score(y_capstone, y_mturk)))

Accuracy = 0.917