In [1]:
import pandas as pd
import numpy as np

# Import csv files from each of us

In [2]:
df_alessandro = pd.read_csv('../../Data/csv_for_mturk_eval/alessandro.csv', encoding='utf-8')
df_alessandro.head(1)

,brand_name,text,lang,link,mturker,model_decision,labels,aggregated_label,capstone_label
0,Lush,"da averle morbide, idratate e prive di pellici...",it,https://blog.cliomakeup.com/2017/03/arco-di-cu...,1,NaN,"[1, 1]",True,NaN

In [3]:
df_ginevra = pd.read_csv('../../Data/csv_for_mturk_eval/ginevra.csv', encoding='utf-8')
df_ginevra.head(1)

,brand_name,text,lang,link,mturker,model_decision,labels,aggregated_label,capstone_label
0,Vichy,"un momento critico per la nostra pelle, ma con...",it,https://www.instagram.com/p/BSybl-nAlvG/,1,NaN,"[1, 1, 1, 1]",True,NaN

In [4]:
df_andrea = pd.read_csv('../../Data/csv_for_mturk_eval/andrea.csv', encoding='utf-8').drop(['brand_name_is_present',
                                                                                           'cosmetic_product_is_present',
                                                                                           'Comments'], axis=1)
df_andrea.head(1)

,brand_name,text,lang,link,mturker,model_decision,labels,aggregated_label,capstone_label
0,La Roche-Posay,"Pelle perfetta, libera dalle imperfezioni e a ...",it,https://www.instagram.com/p/BL0UxHploJa/,1,NaN,"[1, 1, 1, 1, 1, 1, 1, 1]",True,TRUE

# Import labels from each of us

In [5]:
df_alessandro['capstone_label'] = pd.read_csv('../../Data/csv_for_mturk_eval/labeling_alessandro.csv', encoding='utf-8').capstone_label.values
df_alessandro.head(1)

,brand_name,text,lang,link,mturker,model_decision,labels,aggregated_label,capstone_label
0,Lush,"da averle morbide, idratate e prive di pellici...",it,https://blog.cliomakeup.com/2017/03/arco-di-cu...,1,NaN,"[1, 1]",True,True

In [6]:
df_ginevra['capstone_label'] = pd.read_csv('../../Data/csv_for_mturk_eval/labeling_alessandro.csv', encoding='utf-8').capstone_label.values
df_ginevra.head(1)

,brand_name,text,lang,link,mturker,model_decision,labels,aggregated_label,capstone_label
0,Vichy,"un momento critico per la nostra pelle, ma con...",it,https://www.instagram.com/p/BSybl-nAlvG/,1,NaN,"[1, 1, 1, 1]",True,True

In [7]:
y = df_andrea.capstone_label.values

y_andrea = []
for label in y:
    if (label=='TRUE'):
        y_andrea.append(True)
    else: # (label=='FALSE' || label=='FALSE ')
        y_andrea.append(False)
        
y_andrea = np.array(y_andrea)

In [8]:
df_andrea['capstone_label'] = y_andrea
df_andrea.head(1)

,brand_name,text,lang,link,mturker,model_decision,labels,aggregated_label,capstone_label
0,La Roche-Posay,"Pelle perfetta, libera dalle imperfezioni e a ...",it,https://www.instagram.com/p/BL0UxHploJa/,1,NaN,"[1, 1, 1, 1, 1, 1, 1, 1]",True,True

# Concatenate the dataframes to produce final result

In [9]:
df = pd.concat([df_alessandro, df_ginevra, df_andrea])
df.head(5)

,brand_name,text,lang,link,mturker,model_decision,labels,aggregated_label,capstone_label
0,Lush,"da averle morbide, idratate e prive di pellici...",it,https://blog.cliomakeup.com/2017/03/arco-di-cu...,1,NaN,"[1, 1]",True,True
1,Dove,Dove son finita Come promesso sono tornata!\r\...,it,https://www.youtube.com/watch?v=XItKOoQWY2Q,1,NaN,"[1, 1, 1, 0]",True,False
2,Vichy,"un momento critico per la nostra pelle, ma con...",it,https://www.instagram.com/p/BSybl-nAlvG/,1,NaN,"[1, 1, 1, 1]",True,True
3,Lush,MY BEAUTY PROTOCOLE \r\n#pink #girlsnightout ...,it,https://www.instagram.com/p/BSWqwr-BQAt/,1,NaN,"[1, 1, 1, 1, 1]",True,True
4,La Roche-Posay,"@avon.italia , Gimme Brow di @benefitcosmetics...",it,https://www.facebook.com/1555633388011833/post...,1,NaN,"[1, 1, 1, 1]",True,True

In [10]:
df.shape

(180, 9)

# Compute accuracy of the labeling between us and MTurk

In [11]:
y_capstone = df.capstone_label.values.astype(np.bool)
y_mturk = df.aggregated_label.values.astype(np.bool)

In [12]:
from sklearn.metrics import accuracy_score
print('Accuracy = {:.3f}'.format(accuracy_score(y_capstone, y_mturk)))

Accuracy = 0.922

# Additional computations

In [13]:
df_mturk_true = df.loc[df['aggregated_label'] == True]
df_mturk_true.shape

(90, 9)

In [14]:
y_capstone = df_mturk_true.capstone_label.values.astype(np.bool)
y_mturk = df_mturk_true.aggregated_label.values.astype(np.bool)

In [15]:
from sklearn.metrics import accuracy_score
print('Accuracy = {:.3f}'.format(accuracy_score(y_capstone, y_mturk)))

Accuracy = 0.944

In [16]:
print('Entries labeled by MTurk as TRUE that were actually TRUE = {}'.format(accuracy_score(y_capstone, y_mturk, normalize=False)))

Entries labeled by MTurk as TRUE that were actually TRUE = 85

In [17]:
print('Entries labeled by MTurk as TRUE that were actually FALSE = {}'.format(df_mturk_true.shape[0] - accuracy_score(y_capstone, y_mturk, normalize=False)))

Entries labeled by MTurk as TRUE that were actually FALSE = 5